USE [master]
GO
/****** Object:  Database [bd_sisfreq]    Script Date: 12/11/2015 19:37:00 ******/
CREATE DATABASE [bd_sisfreq]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_sisfreq', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bd_sisfreq.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bd_sisfreq_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\bd_sisfreq_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_sisfreq].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_sisfreq]
GO
/****** Object:  StoredProcedure [dbo].[USP_PREENCHER_LISTA_FREQUENCIA]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[USP_PREENCHER_LISTA_FREQUENCIA]

AS
BEGIN

	DECLARE @CONT AS INT, @QUANTIDADE_DIAS_MES AS INT;
	SET @CONT = 1; SET @QUANTIDADE_DIAS_MES = (SELECT DBO.DiasDoMes());
	WHILE(@CONT <= @QUANTIDADE_DIAS_MES)
		BEGIN
			DECLARE @DATA_ATUAL AS DATE, @FERIADO AS INT;
			SET @FERIADO = NULL;
			--SET @DATA_ATUAL = DATEPART(YEAR,GETDATE())+'-'+DATEPART(MONTH,GETDATE())+'-'+ CAST (@CONT AS DATETIME);
			SET @DATA_ATUAL = CONVERT(DATE,(SELECT CONCAT(DATEPART(YEAR,GETDATE()),'-',DATEPART(MONTH,GETDATE()),'-',@CONT)));
			IF(EXISTS(SELECT DIA FROM FERIADOS WHERE DIA = @DATA_ATUAL))
					SET @FERIADO = (select idFeriado from Feriados where dia = @DATA_ATUAL);
			ELSE
					SET @FERIADO = NULL;
				
			SET @CONT = @CONT + 1;

			WITH IMPORTAR_FUNCIONARIO (id)
				AS (SELECT 
						idFuncionario
					FROM Funcionarios
					)

				INSERT INTO Frequencias
					SELECT @DATA_ATUAL,null,null, id,null,@FERIADO
					FROM IMPORTAR_FUNCIONARIO;
		END;
END


GO
/****** Object:  UserDefinedFunction [dbo].[DiasDoMes]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[DiasDoMes] ()
	RETURNS INT
	AS
	BEGIN
	DECLARE @DATA_ATUAL AS DATETIME;
	SET @DATA_ATUAL = GETDATE();
		RETURN CASE WHEN MONTH(@DATA_ATUAL) IN (1, 3, 5, 7, 8, 10, 12) THEN 31
			WHEN MONTH(@DATA_ATUAL) IN (4, 6, 9, 11) THEN 30
			ELSE CASE WHEN (YEAR(@DATA_ATUAL) % 4 = 0 AND
			YEAR(@DATA_ATUAL) % 100 != 0) OR
			(YEAR(@DATA_ATUAL) % 400 = 0)
				THEN 29
				ELSE 28
			END
		END
	END


GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cargos](
	[idCargo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](60) NOT NULL,
	[cargaHoraria] [time](7) NOT NULL,
 CONSTRAINT [pk_cargos] PRIMARY KEY CLUSTERED 
(
	[idCargo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Feriados]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Feriados](
	[idFeriado] [int] IDENTITY(1,1) NOT NULL,
	[dia] [date] NOT NULL,
	[nome] [varchar](30) NOT NULL,
 CONSTRAINT [pk_feriado] PRIMARY KEY CLUSTERED 
(
	[idFeriado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Frequencias]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Frequencias](
	[idFrequencia] [int] IDENTITY(1,1) NOT NULL,
	[dia] [date] NOT NULL,
	[estado] [int] NULL,
	[horasTrabalhadas] [time](7) NULL,
	[idFuncionario] [int] NOT NULL,
	[idJustificativa] [int] NULL,
	[idFeriado] [int] NULL,
 CONSTRAINT [pk_frequencia] PRIMARY KEY CLUSTERED 
(
	[idFrequencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Funcionarios]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Funcionarios](
	[idFuncionario] [int] IDENTITY(1,1) NOT NULL,
	[cpf] [varchar](14) NOT NULL,
	[dataAdmissao] [date] NOT NULL,
	[dataNascimento] [date] NOT NULL,
	[email] [varchar](100) NOT NULL,
	[matricula] [varchar](10) NOT NULL,
	[nome] [varchar](100) NOT NULL,
	[senha] [varchar](200) NOT NULL,
	[administrador] [bit] NULL,
	[idSetor] [int] NULL,
	[idCargo] [int] NULL,
 CONSTRAINT [pk_funcionarios] PRIMARY KEY CLUSTERED 
(
	[idFuncionario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Justificativas]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Justificativas](
	[idJustificativa] [int] IDENTITY(1,1) NOT NULL,
	[inicioPeriodo] [date] NULL,
	[fimPeriodo] [date] NULL,
	[complemento] [varchar](100) NULL,
	[comprovante] [varbinary](max) NULL,
	[motivo] [int] NOT NULL,
	[autorizacao] [bit] NULL,
	[idFuncionario] [int] NULL,
	[idResponsavel] [int] NULL,
 CONSTRAINT [pk_justificativas] PRIMARY KEY CLUSTERED 
(
	[idJustificativa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Pontos]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pontos](
	[idPonto] [int] IDENTITY(1,1) NOT NULL,
	[hora] [time](7) NOT NULL,
	[entrada] [bit] NOT NULL,
	[idFrequencia] [int] NOT NULL,
 CONSTRAINT [pk_pontos] PRIMARY KEY CLUSTERED 
(
	[idPonto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Setores]    Script Date: 12/11/2015 19:37:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Setores](
	[idSetor] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](20) NOT NULL,
	[telefone] [varchar](20) NULL,
	[idFuncionario] [int] NULL,
 CONSTRAINT [pk_setor] PRIMARY KEY CLUSTERED 
(
	[idSetor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Cargos] ON 

INSERT [dbo].[Cargos] ([idCargo], [nome], [cargaHoraria]) VALUES (1, N'Gerente', CAST(0x070040230E430000 AS Time))
INSERT [dbo].[Cargos] ([idCargo], [nome], [cargaHoraria]) VALUES (2, N'Tecnico de Suporte', CAST(0x070040230E430000 AS Time))
INSERT [dbo].[Cargos] ([idCargo], [nome], [cargaHoraria]) VALUES (3, N'Analista de Suporte', CAST(0x070040230E430000 AS Time))
SET IDENTITY_INSERT [dbo].[Cargos] OFF
SET IDENTITY_INSERT [dbo].[Feriados] ON 

INSERT [dbo].[Feriados] ([idFeriado], [dia], [nome]) VALUES (1, CAST(0x803A0B00 AS Date), N'Criação do município')
INSERT [dbo].[Feriados] ([idFeriado], [dia], [nome]) VALUES (2, CAST(0x8A3A0B00 AS Date), N'Nossa Senhora Aparecida')
INSERT [dbo].[Feriados] ([idFeriado], [dia], [nome]) VALUES (3, CAST(0x9F3A0B00 AS Date), N'Finados')
SET IDENTITY_INSERT [dbo].[Feriados] OFF
SET IDENTITY_INSERT [dbo].[Frequencias] ON 

INSERT [dbo].[Frequencias] ([idFrequencia], [dia], [estado], [horasTrabalhadas], [idFuncionario], [idJustificativa], [idFeriado]) VALUES (1, CAST(0x7F3A0B00 AS Date), 0, CAST(0x070040230E430000 AS Time), 3, NULL, NULL)
INSERT [dbo].[Frequencias] ([idFrequencia], [dia], [estado], [horasTrabalhadas], [idFuncionario], [idJustificativa], [idFeriado]) VALUES (2, CAST(0x803A0B00 AS Date), NULL, NULL, 3, NULL, 1)
INSERT [dbo].[Frequencias] ([idFrequencia], [dia], [estado], [horasTrabalhadas], [idFuncionario], [idJustificativa], [idFeriado]) VALUES (3, CAST(0x813A0B00 AS Date), NULL, NULL, 3, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Frequencias] OFF
SET IDENTITY_INSERT [dbo].[Funcionarios] ON 

INSERT [dbo].[Funcionarios] ([idFuncionario], [cpf], [dataAdmissao], [dataNascimento], [email], [matricula], [nome], [senha], [administrador], [idSetor], [idCargo]) VALUES (1, N'649.823.714-74', CAST(0x04390B00 AS Date), CAST(0x8D1C0B00 AS Date), N'fabio.melo@gmail.com', N'70000', N'Fábio Melo Rocha', N'202CB962AC59075B964B07152D234B70', 1, 1, 2)
INSERT [dbo].[Funcionarios] ([idFuncionario], [cpf], [dataAdmissao], [dataNascimento], [email], [matricula], [nome], [senha], [administrador], [idSetor], [idCargo]) VALUES (2, N'302.718.336-29', CAST(0x02390B00 AS Date), CAST(0x18DD0A00 AS Date), N'enzo.dias@gmail.com', N'70001', N'Enzo Dias Rocha', N'202CB962AC59075B964B07152D234B70', 0, 1, 1)
INSERT [dbo].[Funcionarios] ([idFuncionario], [cpf], [dataAdmissao], [dataNascimento], [email], [matricula], [nome], [senha], [administrador], [idSetor], [idCargo]) VALUES (3, N'420.266.843-08', CAST(0xF4380B00 AS Date), CAST(0x7B130B00 AS Date), N'lucas.cunha@gmail.com', N'70002', N'Lucas Cunha Almeida', N'202CB962AC59075B964B07152D234B70', 0, 1, 2)
SET IDENTITY_INSERT [dbo].[Funcionarios] OFF
SET IDENTITY_INSERT [dbo].[Justificativas] ON 

SET IDENTITY_INSERT [dbo].[Justificativas] OFF
SET IDENTITY_INSERT [dbo].[Pontos] ON 

INSERT [dbo].[Pontos] ([idPonto], [hora], [entrada], [idFrequencia]) VALUES (1, CAST(0x070040230E430000 AS Time), 1, 1)
INSERT [dbo].[Pontos] ([idPonto], [hora], [entrada], [idFrequencia]) VALUES (2, CAST(0x0700E03495640000 AS Time), 0, 1)
INSERT [dbo].[Pontos] ([idPonto], [hora], [entrada], [idFrequencia]) VALUES (3, CAST(0x0700B0BD58750000 AS Time), 1, 1)
SET IDENTITY_INSERT [dbo].[Pontos] OFF
SET IDENTITY_INSERT [dbo].[Setores] ON 

INSERT [dbo].[Setores] ([idSetor], [nome], [telefone], [idFuncionario]) VALUES (1, N'T.I', N'(69) 3225-0401', 2)
INSERT [dbo].[Setores] ([idSetor], [nome], [telefone], [idFuncionario]) VALUES (2, N'RH', N'(69) 3221-0876', 4)
SET IDENTITY_INSERT [dbo].[Setores] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Cargos__6F71C0DC3A1B88DD]    Script Date: 12/11/2015 19:37:01 ******/
ALTER TABLE [dbo].[Cargos] ADD UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Funciona__30962D15B9DC53D2]    Script Date: 12/11/2015 19:37:01 ******/
ALTER TABLE [dbo].[Funcionarios] ADD UNIQUE NONCLUSTERED 
(
	[matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Funciona__AB6E61643D8FEA4D]    Script Date: 12/11/2015 19:37:01 ******/
ALTER TABLE [dbo].[Funcionarios] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Funciona__D836E71FE281E377]    Script Date: 12/11/2015 19:37:01 ******/
ALTER TABLE [dbo].[Funcionarios] ADD UNIQUE NONCLUSTERED 
(
	[cpf] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Setores__6F71C0DCCD315123]    Script Date: 12/11/2015 19:37:01 ******/
ALTER TABLE [dbo].[Setores] ADD UNIQUE NONCLUSTERED 
(
	[nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Funcionarios] ADD  DEFAULT ('false') FOR [administrador]
GO
ALTER TABLE [dbo].[Justificativas] ADD  DEFAULT ('false') FOR [autorizacao]
GO
ALTER TABLE [dbo].[Frequencias]  WITH CHECK ADD  CONSTRAINT [frequencia_funcionario] FOREIGN KEY([idFuncionario])
REFERENCES [dbo].[Funcionarios] ([idFuncionario])
GO
ALTER TABLE [dbo].[Frequencias] CHECK CONSTRAINT [frequencia_funcionario]
GO
ALTER TABLE [dbo].[Frequencias]  WITH CHECK ADD  CONSTRAINT [frequencia_justificativa] FOREIGN KEY([idJustificativa])
REFERENCES [dbo].[Justificativas] ([idJustificativa])
GO
ALTER TABLE [dbo].[Frequencias] CHECK CONSTRAINT [frequencia_justificativa]
GO
ALTER TABLE [dbo].[Frequencias]  WITH CHECK ADD  CONSTRAINT [frequencias_feriados] FOREIGN KEY([idFeriado])
REFERENCES [dbo].[Feriados] ([idFeriado])
GO
ALTER TABLE [dbo].[Frequencias] CHECK CONSTRAINT [frequencias_feriados]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [funcionario_cargo] FOREIGN KEY([idCargo])
REFERENCES [dbo].[Cargos] ([idCargo])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [funcionario_cargo]
GO
ALTER TABLE [dbo].[Funcionarios]  WITH CHECK ADD  CONSTRAINT [funcionario_setor] FOREIGN KEY([idSetor])
REFERENCES [dbo].[Setores] ([idSetor])
GO
ALTER TABLE [dbo].[Funcionarios] CHECK CONSTRAINT [funcionario_setor]
GO
ALTER TABLE [dbo].[Justificativas]  WITH CHECK ADD  CONSTRAINT [justificativa_funcionario] FOREIGN KEY([idFuncionario])
REFERENCES [dbo].[Funcionarios] ([idFuncionario])
GO
ALTER TABLE [dbo].[Justificativas] CHECK CONSTRAINT [justificativa_funcionario]
GO
ALTER TABLE [dbo].[Justificativas]  WITH CHECK ADD  CONSTRAINT [justificativa_responsavel] FOREIGN KEY([idResponsavel])
REFERENCES [dbo].[Funcionarios] ([idFuncionario])
GO
ALTER TABLE [dbo].[Justificativas] CHECK CONSTRAINT [justificativa_responsavel]
GO
ALTER TABLE [dbo].[Pontos]  WITH CHECK ADD  CONSTRAINT [ponto_frequencia] FOREIGN KEY([idFrequencia])
REFERENCES [dbo].[Frequencias] ([idFrequencia])
GO
ALTER TABLE [dbo].[Pontos] CHECK CONSTRAINT [ponto_frequencia]
GO
ALTER TABLE [dbo].[Setores]  WITH CHECK ADD  CONSTRAINT [setor_funcionario] FOREIGN KEY([idFuncionario])
REFERENCES [dbo].[Funcionarios] ([idFuncionario])
GO
ALTER TABLE [dbo].[Setores] CHECK CONSTRAINT [setor_funcionario]
GO
USE [master]
GO

USE [msdb]
GO

/****** Object:  Job [VerificarFalta]    Script Date: 05/11/2015 18:03:51 ******/
BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
/****** Object:  JobCategory [[Uncategorized (Local)]]]    Script Date: 05/11/2015 18:03:51 ******/
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'VerificarFalta', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'Nenhuma descrição disponível.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'sa', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
/****** Object:  Step [VerificarFalta]    Script Date: 05/11/2015 18:03:54 ******/
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'VerificarFalta', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'update Frequencias
set Estado=1
from Frequencias f
where (f.HorasTrabalhadas is null) and f.estado is null and f.idFeriado is null and (DATENAME(dw, f.Dia)) <> ''Sábado'' and (DATENAME(dw, f.Dia)) <> ''Domingo'' and dia <= CONVERT (DATE, GETDATE())', 
		@database_name=N'bd_sisfreq', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'VerificarFalta', 
		@enabled=1, 
		@freq_type=4, 
		@freq_interval=1, 
		@freq_subday_type=1, 
		@freq_subday_interval=0, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=0, 
		@active_start_date=20151019, 
		@active_end_date=99991231, 
		@active_start_time=233000, 
		@active_end_time=235959, 
		@schedule_uid=N'a1b17b1e-579f-4c24-9e3d-c9fe01abf36c'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:

GO


USE [msdb]
GO

/****** Object:  Job [CriarFrequenciaMensal]    Script Date: 05/11/2015 19:24:13 ******/
BEGIN TRANSACTION
DECLARE @ReturnCode INT
SELECT @ReturnCode = 0
/****** Object:  JobCategory [[Uncategorized (Local)]]]    Script Date: 05/11/2015 19:24:13 ******/
IF NOT EXISTS (SELECT name FROM msdb.dbo.syscategories WHERE name=N'[Uncategorized (Local)]' AND category_class=1)
BEGIN
EXEC @ReturnCode = msdb.dbo.sp_add_category @class=N'JOB', @type=N'LOCAL', @name=N'[Uncategorized (Local)]'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback

END

DECLARE @jobId BINARY(16)
EXEC @ReturnCode =  msdb.dbo.sp_add_job @job_name=N'CriarFrequenciaMensal', 
		@enabled=1, 
		@notify_level_eventlog=0, 
		@notify_level_email=0, 
		@notify_level_netsend=0, 
		@notify_level_page=0, 
		@delete_level=0, 
		@description=N'Nenhuma descrição disponível.', 
		@category_name=N'[Uncategorized (Local)]', 
		@owner_login_name=N'sa', @job_id = @jobId OUTPUT
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
/****** Object:  Step [ExecutarProcedurePreencherFrequencia]    Script Date: 05/11/2015 19:24:14 ******/
EXEC @ReturnCode = msdb.dbo.sp_add_jobstep @job_id=@jobId, @step_name=N'ExecutarProcedurePreencherFrequencia', 
		@step_id=1, 
		@cmdexec_success_code=0, 
		@on_success_action=1, 
		@on_success_step_id=0, 
		@on_fail_action=2, 
		@on_fail_step_id=0, 
		@retry_attempts=0, 
		@retry_interval=0, 
		@os_run_priority=0, @subsystem=N'TSQL', 
		@command=N'EXEC USP_PREENCHER_LISTA_FREQUENCIA', 
		@database_name=N'bd_sisfreq', 
		@flags=0
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_update_job @job_id = @jobId, @start_step_id = 1
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobschedule @job_id=@jobId, @name=N'CriarFrequenciaMensal', 
		@enabled=1, 
		@freq_type=16, 
		@freq_interval=1, 
		@freq_subday_type=1, 
		@freq_subday_interval=0, 
		@freq_relative_interval=0, 
		@freq_recurrence_factor=1, 
		@active_start_date=20151105, 
		@active_end_date=99991231, 
		@active_start_time=100, 
		@active_end_time=235959, 
		@schedule_uid=N'6731eb30-6d8f-4e79-b0bb-ed3e28d71448'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
EXEC @ReturnCode = msdb.dbo.sp_add_jobserver @job_id = @jobId, @server_name = N'(local)'
IF (@@ERROR <> 0 OR @ReturnCode <> 0) GOTO QuitWithRollback
COMMIT TRANSACTION
GOTO EndSave
QuitWithRollback:
    IF (@@TRANCOUNT > 0) ROLLBACK TRANSACTION
EndSave:

GO


